* {
  box-sizing: border-box;
}

html {
  background-color: #0a1122;
  /* background-color: white; */
}

body {
  /* vertical-align: middle; */
  /* display: grid; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* place-items: center; */
  height: fit-content;
  /* width: fit-content; */
  padding-top: 2em;
  padding-bottom: 2em;
  /* overflow: hidden; */
  /* border: 2px solid red; */
}

.App {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 5em;
  flex-wrap: wrap-reverse;
  /* border: 4px solid yellow; */
  /* height: 100%; */
}
